.container {
  display: flex;
  flex-direction: column;
}

.schedule-header {
  height: 60px;
  margin-left: 15%;
}

.schedule-header ul {
  background: lightgray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.schedule-header li {
  padding: 1.2rem;
}

.schedule-sidebar {
  width: 15%;
}

.schedule-sidebar ul, .schedule-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.schedule-sidebar ul {
  background: darkslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.schedule-sidebar li {
  padding: 0.9rem 2rem;
}

.schedule-content-container {
  display: flex;
  width: 100%;
}

.schedule-grid {
  width: 85%;
  display: flex;
}

.grid-column {
  width: 100%;
  border-right: 1px solid black;
  height: 100%;
}

.grid-cell {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.grid-cell:hover {
  background: lightblue;
}