.Task {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  border-bottom: 1px solid black;
  padding-top: 1px;
}

.task-pickup {
  background: lightcoral;
}

.task-other {
  background: lightgreen;
}

.task-dropoff {
  background: mediumpurple;
}