@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Modal {
  display: flex;
  width: 80%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.create-item-form {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.form-field {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.form-field label {
  align-self: center;
}

.form-field select {
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

.toggle-modal-view-button {
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  padding: 1rem 2rem;
  border: none;
  background: #bebebe
}

.text-description-field {
  width: 30vw;
  font-family: 'Roboto', sans-serif;
}

.create-task-button, .update-task-button {
  padding: 1rem;
  border: none;
  background: #bebebe
}

.update-task-button {
  display: flex;
  justify-content: center;
  margin: 2rem auto 0;
}
