@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.CreateModal {
  display: flex;
  padding-top: 0.5rem;
  width: 80%;
  height: 80vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  animation-duration: 1.5s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

.CreateModal h3 {
  text-align: center;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    transform: scale(0.01);
  }

  to {
    margin-left: 10%;
    transform: scale(1.0)
  }
}

.create-item-form {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.form-field {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.form-field label {
  align-self: center;
}

.form-field select {
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

.text-description-field {
  width: 30%;
  font-family: 'Roboto', sans-serif;
}

.modal-btn {
  padding: 1rem;
  margin: 2rem auto 0;
  border: none;
  background: #bebebe;
  width: 50vw;
  display: flex;
  justify-content: center;
}

.error-modal {
  margin-top: 4rem;
}